## Вычисления с помощью Numpy

In [2]:
import numpy as np

### Задание 1
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк
и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6,
8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива
Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [3]:
a = np.array([[1, 6], 
              [2, 8], 
              [3, 11],
              [3, 10],
              [1, 7]])

mean_a = a.mean(axis=0)

print(mean_a)

[2.  8.4]

### Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения
соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно
производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [4]:
a_centered = a - mean_a

print(a_centered)

print(f"размер a_centered = {a_centered.shape}")

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]
размер a_centered = (5, 2)

### Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна
получиться величина a_centered_spa. Затем поделите a_centered_sp на N-1, где N - число
наблюдений.

In [5]:
a_centered_spa = a_centered[:, 0].dot(a_centered[:, 1])
a_centered_cov = a_centered_spa / (a_centered.shape[0] - 1)

print(f"ковариация несмещенная {a_centered_cov}<=>{np.cov(a.T)[0, 1]}")

ковариация несмещенная 2.0<=>2.0

## Тема “Работа с данными в Pandas”

In [6]:
import pandas as pd

### Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со
столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и
['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно
содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и
поклонники']
Нужны prices!
[500, 400, 300, 350, 450, 600, 200]

In [7]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
})

books = pd.DataFrame({
    "author_id":[1, 1, 1, 2, 2, 3, 3],
    "book_title":['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 
                  'Таланты и поклонники'],
    "price":[500, 400, 300, 350, 450, 600, 200]
})

### Задание 2
Получите датафрейм authors_price, соединив дата фреймы authors и books по полю author_id.

In [8]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    500
1          1    Тургенев                 Рудин    400
2          1    Тургенев     Дворянское гнездо    300
3          2       Чехов      Толстый и тонкий    350
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    600
6          3  Островский  Таланты и поклонники    200

### Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими
книгами.

In [9]:
top5 = authors_price.sort_values(by="price", ascending=False, inplace=False).head(5)
top5

   author_id author_name        book_title  price
5          3  Островский             Гроза    600
0          1    Тургенев       Отцы и дети    500
4          2       Чехов   Дама с собачкой    450
1          1    Тургенев             Рудин    400
3          2       Чехов  Толстый и тонкий    350

### Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat
должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя
цена на книги этого автора.

In [10]:
authors_stat = authors_price.groupby("author_name").agg({"price": ["max", "min", "mean"]})
authors_stat

            price
              max  min mean
author_name
Островский    600  200  400
Тургенев      500  300  400
Чехов         450  350  400

### Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться
данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные
из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot table с помощью вопросительного знака.
Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте
для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а
индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями,
при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием
"book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь,
что датафреймы book_info и book_info2 идентичны.

In [13]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    500  твердая
1          1    Тургенев                 Рудин    400   мягкая
2          1    Тургенев     Дворянское гнездо    300   мягкая
3          2       Чехов      Толстый и тонкий    350  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    600   мягкая
6          3  Островский  Таланты и поклонники    200   мягкая

In [25]:
?pd.pivot_table

In [22]:
book_info = pd.pivot_table(authors_price, values="price", index="author_name", columns="cover", aggfunc="sum")
book_info.fillna(0, inplace = True)
book_info.to_pickle("book_info.pkl")

In [23]:
book_info2 = pd.read_pickle("book_info.pkl")

In [24]:
book_info, book_info2

(cover        мягкая  твердая
 author_name
 Островский    800.0      0.0
 Тургенев      700.0    500.0
 Чехов           0.0    800.0,
 cover        мягкая  твердая
 author_name
 Островский    800.0      0.0
 Тургенев      700.0    500.0
 Чехов           0.0    800.0)